In [1]:
import pandas as pd

In [86]:
data = pd.read_csv("Downloads/archive-2/20140711.csv")

/Users/bake/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [87]:
data.head()

,TripID,RouteID,StopID,StopName,WeekBeginning,NumberOfBoardings
0,23631,100,14156,181 Cross Rd,2013-06-30 00:00:00,1
1,23631,100,14144,177 Cross Rd,2013-06-30 00:00:00,1
2,23632,100,14132,175 Cross Rd,2013-06-30 00:00:00,1
3,23633,100,12266,Zone A Arndale Interchange,2013-06-30 00:00:00,2
4,23633,100,14147,178 Cross Rd,2013-06-30 00:00:00,1

In [5]:
Stops = data.StopName.unique()

In [39]:
Stops[0]

'181 Cross Rd'

In [11]:
len(Stops)

4165

In [13]:
pip install -U googlemaps

Collecting googlemaps
  Downloading googlemaps-4.4.2.tar.gz (29 kB)
Requirement already satisfied, skipping upgrade: requests<3.0,>=2.20.0 in ./opt/anaconda3/lib/python3.8/site-packages (from googlemaps) (2.24.0)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in ./opt/anaconda3/lib/python3.8/site-packages (from requests<3.0,>=2.20.0->googlemaps) (1.25.11)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in ./opt/anaconda3/lib/python3.8/site-packages (from requests<3.0,>=2.20.0->googlemaps) (2.10)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in ./opt/anaconda3/lib/python3.8/site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.0.4)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in ./opt/anaconda3/lib/python3.8/site-packages (from requests<3.0,>=2.20.0->googlemaps) (2020.6.20)
Building wheels for collected packages: googlemaps
  Building wheel for googlemaps (setup.py) ... done
  Created wheel for googlemaps: filename=googlemaps-4.4.2-py3-none-any.whl size=37858 sha256=84e2700cb2a6da47852a3b838be91f67120915c2cbbd5bb9fed74a27668870ce
  Stored in directory: /Users/bake/Library/Caches/pip/wheels/d5/c3/1e/4dfd31f817ddc3e4f782e242988effd304edece671b12b563b
Successfully built googlemaps
Installing collected packages: googlemaps
Successfully installed googlemaps-4.4.2
Note: you may need to restart the kernel to use updated packages.

In [14]:
import googlemaps
from datetime import datetime

In [16]:
gmaps = googlemaps.Client(key='AIzaSyAIriXFb3vCO_fUxGX3hTvF7hd7faAoYDM')

In [40]:
listLat = []
listLng = []
listStops = []
for i in Stops:
    geocode_result = gmaps.geocode('Stop ' + i)
    if len(geocode_result) == 0:
        continue
    loc = geocode_result[0]["geometry"]["location"]
    listLat.append(loc['lat'])
    listLng.append(loc['lng'])
    listStops.append(i)

In [41]:
print(len(listLat),len(listLng),len(listStops))

3130 3130 3130

In [43]:
df = pd.DataFrame ([listStops, listLat, listLng]).transpose()
df.columns = ['Stops', 'Lat', 'Lng']

In [44]:
df.head()

                        Stops      Lat      Lng
0                181 Cross Rd -34.9676  138.564
1                177 Cross Rd -34.9668  138.581
2  Zone A Arndale Interchange -34.8752  138.552
3                178 Cross Rd  -34.967  138.577
4            9A  Holbrooks Rd -34.9241  138.549

In [99]:
stopRoutes = data.groupby('StopName', as_index=False).agg(lambda x: x.unique().tolist())

In [100]:
stopRoutes.head()

,StopName,TripID,RouteID,StopID,WeekBeginning,NumberOfBoardings
0,1 Anzac Hwy,"[45362, 45366, 45368, 45370, 45373, 45374, 453...","[167, 168, 168, 169, 177, 202, 202F, 203, 203B...","[13700, 13694]","[2013-06-30 00:00:00, 2013-07-07 00:00:00, 201...","[3, 1, 2, 5, 8, 4, 7, 6, 14, 19, 10, 9, 12, 13..."
1,1 Bartels Rd,"[5582, 50040, 50063, 50065, 50066, 50067, 5007...","[613, H20, H20C, H20R, H22, H22C, H22L, H23, H...","[16436, 16434]","[2014-02-02 00:00:00, 2013-06-30 00:00:00, 201...","[1, 2, 4, 3, 7, 5, 6, 8, 9, 13, 15, 12, 11, 26..."
2,1 Botanic Rd,"[46043, 46044, 46045, 46053, 46055, 46059, 460...","[174, 177, 178, 178, 178F, 178S, 179, 179F, 28...","[13260, 13257]","[2013-06-30 00:00:00, 2013-07-07 00:00:00, 201...","[1, 3, 2, 6, 4, 10, 28, 5, 7, 11, 16, 13, 12, ..."
3,1 Frome Rd,"[12382, 12390, 12405, 12408, 12411, 12420, 124...","[235, 237, 238, 239, 271, 271, 273]","[13267, 13275]","[2013-06-30 00:00:00, 2013-07-07 00:00:00, 201...","[3, 4, 1, 5, 2, 7, 6, 11, 10, 12, 8, 9, 13, 14..."
4,1 Fullarton Rd,"[45034, 45038, 45040, 45042, 45066, 45037, 450...","[144, 144G]","[13463, 13447]","[2013-06-30 00:00:00, 2013-07-07 00:00:00, 201...","[1, 2, 3, 4, 6, 5, 8, 7, 16, 10]"

In [101]:
len(stopRoutes)

4165

In [91]:
a = data.RouteID.unique()
len(a)

619

In [95]:
routes = pd.DataFrame (a, columns= ['routes'])

In [96]:
routes.head()

  routes
0    100
1   100B
2   100C
3   100K
4   100N

In [102]:
out1 = stopRoutes.drop(['TripID', 'StopID', 'WeekBeginning', 'NumberOfBoardings'], axis=1)

In [104]:
out1.to_csv (r'stopRoutes.csv', index = False, header=True)

In [105]:
routes.to_csv (r'Routes.csv', index = False, header=True)

In [107]:
df.to_csv (r'locations.csv', index = False, header=True)